<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"
    >Recipe Book</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="user"
          [routerLink]="['/recipe']"
          routerLinkActive="active"
          >Recipes
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/shopping']"
          routerLinkActive="active"
          >Shopping List</a
        >
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <li class="nav-item" *ngIf="user">
        <a 
        style="cursor: pointer;"
        (click)="logout()" class="nav-link">Log out</a>
      </li>
      <li class="nav-item dropdown" *ngIf="user">
        <a
          class="nav-link dropdown-toggle"
          type="button"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Manejar Recetas
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" (click)="storageRecipes()" type="button"
            >Save Recipes</a
          >
          <a class="dropdown-item" (click)="onFetchRecipes()" type="button"
            >Load Recipes</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
