<div class="row" 
style="min-height: 60vh; align-items: center;"
*ngIf="!isLoading">

  <div class="col-sm-6 offset-sm-3">
    <div 
    *ngIf="errorMessage"
    class="alert alert-danger" role="alert">
      <strong>{{errorMessage}}</strong>
    </div>
    <form (ngSubmit)="onSubmit(AuthForm)" #AuthForm="ngForm">
      <div class="form-group">
        <label for="">E-mail</label>
        <input type="email" required name="email" ngModel class="form-control" placeholder="a@gmail.com"
          aria-describedby="helpId" />
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input name="password" ngModel class="form-control" type="password" required placeholder="*******"
          aria-describedby="helpId" minlength="6" />
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="row">
        <div class="col-lg-6 mt-1">
          <button type="submit" [disabled]="!AuthForm.valid" class="btn btn-primary btn-block"
            [ngClass]="{'btn-success': !isLoginMode , 'btn-primary': isLoginMode}">
            {{ isLoginMode ? "Sign in" : "Sign up" }}
          </button>
        </div>
        <div class="col-lg-6 mt-1">
          <button type="button" (click)="onSwitchMode()" class="btn btn-danger btn-block ">
            Switch To Login Mode
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>