<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="form-group">
        <label for="">E-mail</label>
        <input
          type="email"
          required
          name="user"
          NgModel
          class="form-control"
          placeholder="a@gmail.com"
          aria-describedby="helpId"
        />
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input
          name="password"
          NgModel
          class="form-control"
          type="password"
          required
          placeholder="*******"
          aria-describedby="helpId"
        />
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="submit" 
          class="btn btn-primary btn-block"
          [ngClass]="{'btn-success': !isLoginMode , 'btn-primary': isLoginMode}"
          >
            {{ isLoginMode ? "Sign in" : "Sign up" }}
          </button>
        </div>
        <div class="col-md-6">
          <button
            type="button"
            (click)="onSwitchMode()"
            class="btn btn-danger btn-block"
          >
            Switch To Login Mode
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
