<div class="d-flex justify-content-between py-2">
  <h4>{{recipe.title}}</h4>
  <div class="dropdown show">
  <button
    type="button"
    class="btn btn-primary dropdown-toggle"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Manage Recipe
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li>
      <a class="dropdown-item" href="#"> 🛒 To shopping </a>
    </li>
    <li>
      <a class="dropdown-item" href="#"> 📝 Edit Recipe</a>
    </li>
    <li>
      <a class="dropdown-item" href="#"> ❌ Delete Recipe</a>
    </li>
  </ul>
</div>
</div>
<div class="row d-flex justify-content-center">
  <img [src]='recipe.imageUrl' alt="" class="img-fluid" style="max-height: 50vh;">
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
  <div class="col-12">
    Ingredient
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}</li>
    </ul>
  </div>
</div>
