<div class=" bg-white">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img src="../../assets/images/logo.png"
            style="height: 200px;"
            alt="Logo Recipe" ></div>
    </div>
  <h1 class="display-4">Hello there!</h1>
  <p class="lead">
      Recipe Web, it's a Project based on the 
      <a href="https://www.udemy.com/course/the-complete-guide-to-angular-2/?utm_source=adwords&utm_medium=udemyads&utm_campaign=WebDevelopment_v.PROF_la.EN_cc.ROW_ti.8322&utm_content=deal4584&utm_term=_._ag_80385735315_._ad_428734577424_._kw__._de_c_._dm__._pl__._ti_dsa-774930035449_._li_1000042_._pd__._&matchtype=b&gclid=Cj0KCQjw4dr0BRCxARIsAKUNjWSAraYbrKOEQljBahsvWAlYQK_c-qmSueOJqUvQTuKwDf38bv-oGFwaAqasEALw_wcB" class="text-danger">
        Angular - The Complete Guide</a> created by 
        <a class="text-danger" href="https://academind.com/team/#maximilian">Maximilian Schwarzmüller </a> </p>
  <hr class="my-4">
  <p>In this Web app, you can (sing in| log in) and save recipes and you can do your own Shopping List </p>
  <p><strong>Note:</strong> I will add some new features like: recipes filter by name and categories, private recipes, email validation and some others! </p>
  <a class="btn btn-outline-danger btn-lg" href="https://josebanega.netlify.app/" role="button">About me</a>
</div>