<div class="row">
       <h4>Shopping Edit</h4>
    <div class="col-md-12">
        <form >
            <div class="col-12 form-group">
                <div class="row">
                    <div class="col-sm-7">
                        <label > Name</label>
                        <input 
                        type="text" 
                        id='name' 
                        name='ingredient_name'
                        class="form-control"
                        [(ngModel)]="ingredient.name"
                        >
                    </div>
                    <div class="col-sm-5">
                        <label for="amount"> Amount</label>
                        <input
                        name='ingredient_amount'
                        [(ngModel)]="ingredient.amount"
                        type="number" id='amount' class="form-control">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-3">
                        <button
                        (click)='addIngredient()' 
                        type="submit" 
                        class="btn btn-success">
                            Add
                        </button
                        >
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
